[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
	useHttpPath = true

[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[user]
	name = Cherry Ramatis
	email = cherry.ramatis@icloud.com
